.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  & > :nth-child(1) {
    background-color: #e28525;
  }
  & > :nth-child(2) {
    background-color: #016972;
  }
  & > :nth-child(3) {
    background-color: #00403f;
  }
}
