.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 25px;
  border-radius: 4px;
  overflow: hidden;
  &__card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
  }
  & > :nth-child(1) {
    background-color: #e28525;
  }
  & > :nth-child(2) {
    background-color: #016972;
  }
  & > :nth-child(3) {
    background-color: #00403f;
  }
}
