.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 25px;
  border-radius: 6px;
  overflow: hidden;
  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 25px 25px 35px;
    flex: 1;
    & button {
      border-radius: 50px;
      border: none;
      padding: 10px 20px;
    }
    & p {
      padding-bottom: 10px;
      font-family: "Lexend Deca", sans-serif;
      font-size: 11px;
      line-height: 20px;
    }
    & h2 {
      font-family: "Big Shoulders Display", cursive;
    }
  }
  & > :nth-child(1) {
    background-color: #e28525;
    & button:nth-child(n) {
      color: #e28525;
    }
  }
  & > :nth-child(2) {
    background-color: #016972;
    & button:nth-child(n) {
      color: #016972;
    }
  }
  & > :nth-child(3) {
    background-color: #00403f;
    & button:nth-child(n) {
      color: #00403f;
    }
  }
}

@media (min-width: 600px) {
  .main-content {
    flex-direction: row;
    margin: 20vw;
    align-content: center;
    &__card > p {
      padding-bottom: 40px;
    }
  }
}
